

services:
  backend:
    build: ./backend
    ports:
      - "8080:8080"
    command: uvicorn src.main:app --host 0.0.0.0 --port 8080

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:80"
    depends_on:
      - backend
